<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Bootstrap core CSS -->
    <link
      href="./../vendor/bootstrap-4.6.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="./../vendor/slick/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../vendor/slick/slick-theme.css"
    />

    <!-- jquery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-3.3.2.js"
    ></script>

    <link rel="stylesheet" href="./../css/app.css" />

    <!-- icon -->
    <link
      rel="stylesheet"
      href="./../vendor/font-awesome-4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="BannerSlide1">
      <!--  -->

      <div class="BannerSlide1__item">
        <div class="BannerSlide1__item-image">
          <img src="https://picsum.photos/1900/900" alt="" />
        </div>
        <div class="BannerSlide1__item-body">
          <div class="BannerSlide1__item-body-text">KINH DOANH bứt tốc</div>
          <div class="BannerSlide1__item-body-text">CHUYÊN GIA kinh nghiệm</div>
          <div class="BannerSlide1__item-body-text">CUNG ỨNG tối ưu</div>
        </div>
      </div>
      <!--  -->
      <div class="BannerSlide1__item">
        <div class="BannerSlide1__item-image">
          <img src="https://picsum.photos/1900/902" alt="" />
        </div>
        <div class="BannerSlide1__item-body">
          <div class="BannerSlide1__item-body-text">TIN TƯỞNG LỰA CHỌN</div>
          <div class="BannerSlide1__item-body-text">HÀI LÒNG HỢP TÁC</div>
          <div class="BannerSlide1__item-body-text">
            Lĩnh vực kinh doanh: Phụ gia thực phẩm,Thức ăn chăn nuôi, Nguyên
            liệu dược - thực phẩm chức năng
          </div>
        </div>
      </div>
      <!--  -->
    </section>

    <script src="./../vendor/bootstrap-4.6.1/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="./../vendor/slick/slick.min.js"
    ></script>

    <script src="./../js/main.js"></script>
  </body>
</html>
