<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <!-- Bootstrap core CSS -->
        <link
            href="./../vendor/bootstrap-4.6.1/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <!-- slick -->
        <link
            rel="stylesheet"
            type="text/css"
            href="./../vendor/slick/slick.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="./../vendor/slick/slick-theme.css"
        />

        <!-- jquery -->
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.6.0.js"
        ></script>
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-migrate-3.3.2.js"
        ></script>

        <link rel="stylesheet" href="./../css/app.css" />

        <!-- icon -->
        <link
            rel="stylesheet"
            href="./../vendor/font-awesome-4.7.0/css/font-awesome.min.css"
        />
    </head>
    <body>
        <footer class="footer">
            <div class="footer__box">
                <div class="footer__bg">
                    <img src="./../images/bg_footer.jpg" alt="" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="footer__box-main col-12 col-md-4">
                            <div class="main__image">
                                <img src="./../images/logo.png" alt="" />
                            </div>
                            <div class="main__text">
                                CÔNG TY TNHH CÔNG NGHỆ PHẨM BA ĐÌNH
                                <br />
                                info@bfchem.vn
                            </div>
                        </div>

                        <div class="footer__box-item col-12 col-md">
                            <div class="item__header">Trụ sở chính</div>
                            <div class="item__body">
                                <div class="item__body-icon">
                                    <i
                                        class="fa fa-map-marker"
                                        aria-hidden="true"
                                    ></i>
                                </div>
                                <div class="item__body-text">
                                    T6, Tòa nhà M5, 91 Nguyễn Chí Thanh, Láng
                                    Hạ, Đống Đa, HN
                                </div>
                            </div>
                            <div class="item__body">
                                <div class="item__body-icon1">
                                    <i
                                        class="fa fa-phone"
                                        aria-hidden="true"
                                    ></i>
                                </div>
                                <div class="item__body-text">
                                    0243. 715. 3333
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="footer__box-item col-12 col-md">
                            <div class="item__header">Văn phòng tại Hà Nội</div>
                            <div class="item__body">
                                <div class="item__body-icon">
                                    <i
                                        class="fa fa-map-marker"
                                        aria-hidden="true"
                                    ></i>
                                </div>
                                <div class="item__body-text">
                                    T6, Tòa nhà M5, 91 Nguyễn Chí Thanh, Láng
                                    Hạ, Đống Đa, HN
                                </div>
                            </div>
                            <div class="item__body">
                                <div class="item__body-icon1">
                                    <i
                                        class="fa fa-phone"
                                        aria-hidden="true"
                                    ></i>
                                </div>
                                <div class="item__body-text">
                                    0243. 715. 3333
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="footer__box-item col-12 col-md">
                            <div class="item__header">
                                Văn phòng tại TP. Hồ Chí Minh
                            </div>
                            <div class="item__body">
                                <div class="item__body-icon">
                                    <i
                                        class="fa fa-map-marker"
                                        aria-hidden="true"
                                    ></i>
                                </div>
                                <div class="item__body-text">
                                    T6, Tòa nhà M5, 91 Nguyễn Chí Thanh, Láng
                                    Hạ, Đống Đa, HN
                                </div>
                            </div>
                            <div class="item__body">
                                <div class="item__body-icon1">
                                    <i
                                        class="fa fa-phone"
                                        aria-hidden="true"
                                    ></i>
                                </div>
                                <div class="item__body-text">
                                    <a href="/"> 0243. 715. 3333 </a>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>

            <div class="footer__bottom container">
                <div class="row">
                    <div class="footer__bottom-item col-12 col-md-6">
                        @2021 Công ty TNHH Công nghệ phẩm Ba Đình
                    </div>
                    <div
                        class="footer__bottom-link col-12 col-md-6 d-flex justify-content-sm-end align-items-center"
                    >
                        <div class="link__item">
                            <i
                                class="fa fa-facebook-official"
                                aria-hidden="true"
                            ></i>
                        </div>
                        <div class="link__item">
                            <i
                                class="fa fa-youtube-play"
                                aria-hidden="true"
                            ></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
        <script src="./../vendor/bootstrap-4.6.1/js/bootstrap.bundle.min.js"></script>
        <script
            type="text/javascript"
            src="./../vendor/slick/slick.min.js"
        ></script>

        <script src="./../js/main.js"></script>
    </body>
</html>
