<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../css/app.css" />
  </head>
  <body>
    <div class="test" style="min-height: 100vh;">

    </div>
    <section class="BusinessAreas">
      <div class="BusinessAreas__title">
        <div class="BusinessAreas__title-label">Lĩnh vực kinh doanh</div>
        <div class="BusinessAreas__title-hr"></div>

        <div class="BusinessAreas__title-desc">
          Chúng tôi kết hợp bán hàng, sản xuất và hỗ trợ kỹ thuật để cung cấp
          các sản phẩm và dịch vụ tối ưu nhất cho khách hàng.
        </div>
      </div>
      <div class="BusinessAreas__body">
        <div class="BusinessAreas__body-item">
          <div class="item__icon">
            <img src="https://picsum.photos/50/50"></img>
          </div>
          <div class="item__detail">
            <div class="item__detail-label">
                Thương mại
            </div>
            <div class="item__detail-hr"></div>
            <div class="item__detail-desc">
                Với hơn 20 năm kinh nghiệm trong lĩnh vực phân phối nguyên liệu ngành thực phẩm, cùng mối quan hệ hợp tác chiến lược với các nhà cung cấp toàn cầu để mang đến cho khách hàng nguồn nguyên liệu chất lượng cao và dịch vụ ưu việt, Asia Group ngày một nâng cao vị thế trong ngành thực phẩm.
            </div>
          </div>
          <div class="item__hover">
            <span class="item__hover-child"></span>
            <span class="item__hover-child"></span>
            <span class="item__hover-child"></span>
          </div>
        </div>
        <div class="BusinessAreas__body-item">
            <div class="item__icon">
              <img src="https://picsum.photos/50/50"></img>
            </div>
            <div class="item__detail">
              <div class="item__detail-label">
                  Thương mại
              </div>
              <div class="item__detail-hr"></div>
              <div class="item__detail-desc">
                  Với hơn 20 năm kinh nghiệm trong lĩnh vực phân phối nguyên liệu ngành thực phẩm, cùng mối quan hệ hợp tác chiến lược với các nhà cung cấp toàn cầu để mang đến cho khách hàng nguồn nguyên liệu chất lượng cao và dịch vụ ưu việt, Asia Group ngày một nâng cao vị thế trong ngành thực phẩm.
              </div>
            </div>
            <div class="item__hover">
              <span class="item__hover-child"></span>
              <span class="item__hover-child"></span>
              <span class="item__hover-child"></span>
            </div>
          </div>

          <div class="BusinessAreas__body-item">
            <div class="item__icon">
              <img src="https://picsum.photos/50/50"></img>
            </div>
            <div class="item__detail">
              <div class="item__detail-label">
                  Thương mại
              </div>
              <div class="item__detail-hr"></div>
              <div class="item__detail-desc">
                  Với hơn 20 năm kinh nghiệm trong lĩnh vực phân phối nguyên liệu ngành thực phẩm, cùng mối quan hệ hợp tác chiến lược với các nhà cung cấp toàn cầu để mang đến cho khách hàng nguồn nguyên liệu chất lượng cao và dịch vụ ưu việt, Asia Group ngày một nâng cao vị thế trong ngành thực phẩm.
              </div>
            </div>
            <div class="item__hover">
              <span class="item__hover-child"></span>
              <span class="item__hover-child"></span>
              <span class="item__hover-child"></span>
            </div>
          </div>
      </div>
    </section>
    <div class="test" style="min-height: 100vh;">

  </body>
</html>
